body, html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 14px;
  background-color:white;
}

.footer {
  height:125px;
  left: 0;
  bottom: 0; 
  width: 100%;
  color: white;
  background-color: -webkit-gradient(linear, left top, left bottom, from(white), to(rgb(58, 57, 57)));
  background-image: -webkit-linear-gradient(top, white, rgb(58, 57, 57));
  background-image: -moz-linear-gradient(top, white, rgb(58, 57, 57));
  background-image: linear-gradient(to bottom, white, rgb(58, 57, 57));

}

/* #homePageAboutBlurb {
  height: 325px;
  width: 700px;
  background-color:tomato;
  border-radius:5%;
  text-align: left;
  vertical-align: top;
  display: table-cell;
  font-size: 18px;
  padding:35px;
  font-weight: bold;
  color: black;
} */

#homePageAboutBlurb {
  height: 325px;
  width: 325px;
  background-color: orange;
  border-radius: 100%;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
  font-size: 18px;
  padding:35px;
  font-weight: bold;
  color: black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#homePageBlurb2 {
  height: 325px;
  width: 325px;
  background-color: yellow;
  border-radius: 100%;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
  font-size: 18px;
  padding:35px;
  font-weight: bold;
  color: black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#loginHomePage{
  height: 325px;
  width: 325px;
  background-color:rgb(25, 167, 12);
  border-radius: 100%;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
  font-size: 18px;
  padding:35px;
  font-weight: bold;
  color: black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.instructions .container h1 {
  font-size: 32px;
  font-weight: 600;
  width: 125%;
  /* transform: skewY(-6deg);  
  transform-origin: top left; */
  height: 165px;
  padding-top: 0px;
  padding-left:30px;
  padding-bottom: 40px;
}

.instructions {
  background-color:#ffffff;
  color: black;
  /* padding: 5px; */
  padding-right: 50px;
  padding-left: 25px;
  padding-bottom: 35px;
  width: 100%
  
}

#entryForm {
  margin-top: 14px;
}

#container {
  margin-top: 10px;
}

.container p{
  margin-top : 14px;
}

.message {
  padding: 10px 0;
}

.message p {
  margin-left: 10px;
}

.message:nth-child(odd) {
   background-color:#f8f8f8;
}

.message:nth-child(even) {
  background-color: #f8f8f8;
}

.btn-danger{
  margin-left: 10px;
}


.btn-warning {
  padding: 0px;
  
}

.navbar {
  background-color:black;
  color: white;
  border-radius: 0px;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
  padding-top:0px;
  margin-bottom:0px;

}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color:black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navList a{
  display: block;
  color:white !important;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  text-decoration: underline;
  color: #eee;
}

#left-container{
  background-color: orange;
  height:200px;
}

.col-sm {
  background-color: tomato;
  border-width: 2px;
  height: 300px;
}


.col-md-4{
  border-width: 0px;
  border-style: solid;
  margin: 0px;
  margin-top: 25px;
  padding: 15px;

}

#mainCalViewChoices{
  padding: 10px;
  margin:20px;
  margin-top: 35px;

}



#upcomingEventsHeader {
  background-color: rgb(58, 57, 57);
  color: white;
  letter-spacing: 1px;
  padding:8px;
  border-radius: 10px;


}
.table {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 
}

.table th{
  background-color:red;
  font-size: 18px;
  color: white;
  letter-spacing: 2px;

}


.table a {
  color: black;
  font-size: 17px;
}



#orgDetailsTable th{
  letter-spacing: 2px;
  background-color: white !important;
  color: black !important;

}
#orgTableHead{
  background-color: white;
  font-size: 18px;
  color: black !important;
  letter-spacing: 2px;
}

#orgTable td{
  border-top: none !important;
  padding: 10px;
  margin: 0px;
}

#orgTableLogo{
  height: 20px;
  width: 20px;
  border-radius: 100%;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
  font-size: 14px;
  font-weight: bold;
  color: black;
  margin-right:25px;

}

#orgLogoPage{
  height: 75px;
  width: 75px;
  margin:10px;
  border-radius: 100%
}

#orgDetailsLogo {
  height: 200px;
  width: 200px;
  border-radius: 100%;
  margin-bottom:10px;
  
}

#orgDetailsTitle {
  font-size: 24px;
  vertical-align: top;
  display: table-cell;
  padding-bottom:90px;
  
}

#welcomeText {
  font-weight: bold;
  transform: skewY(-6deg);  
  transform-origin: top left;
}

#eventDescriptionBox {
  position: relative;
  overflow: scroll !important;
  width: 570px;
  height: 200px;
  word-wrap: break-word !important;
  
  
}

#registerThankYouList{
  display: block;
  list-style-type: disc;

}

.btn-danger{
  padding:2px;
}

#editButton {
  padding: 2px;
}

#dropdownEventsTable{
  background-color: rgb(194, 191, 191);
  margin-left:25px;
}

#homepageImage{
  width: 100%;
  height: auto;
  margin-top: 0px;
}


.jumbotron-fluid {
  /* background-color: black; */
  position: relative;
  background: url("/images/minneapolisbw.jpg") no-repeat center center;
  width:100%;
  height: 700px;
  background-size: 100%;
  margin-bottom: 0px;
  margin-top: 0px;
  color: white;

  }

  #homeLogo{
    transform: skewY(-6deg);  
    transform-origin: top left;
    display: block;
    margin-left:150px;
    margin-right: auto;
    margin-top: 300px;
    margin-bottom: 0px;
    
  }

  #loginHomePage {
    margin-right:30px;
  }