<div ng-controller="LoginController as lc">
    <div class="instructions" ng-controller = "UserController as uc">

        <div class="row">
            <div class="col-md-8">
                <div class="container">
                    <h1 class="lead">
                        <a href="#/"><img src="images/qhlogo.png"></a>
                        
                    </h1>
                </div>
            </div>

            
            
            <div class="col-md-4" ng-hide = "uc.userService.userObject.userName">
                
                <div class = "pull-right">
                <h2>Login</h2>
                <h1 class="lead alert alert-danger" role="alert" ng-if="lc.message != ''">{{lc.message}}</h2>
                    <form ng-submit="lc.login()">
                        <div>
                            <label for="username">Username:</label>
                            <input type="text" ng-model="lc.user.username" />
                        </div>
                        <div>
                            <label for="password">Password:</label>
                            <input type="password" ng-model="lc.user.password" />
                        </div>
                        <div>
                            <input class="btn btn-default" type="submit" name="submit" value="Log In" />
                            <a href="#register">Register</a>
                        </div>
                    </form>
                </div>
            </div>  <!-- end of login column -->



            <div class="col-md-4" ng-show = "uc.userService.userObject.userName">
                    <div class = "pull-right">
                    <h1 id="welcome" class="lead">Welcome, {{uc.userObject.userName}}!</h1>
                    <button class="btn btn-default" ng-click="uc.userService.logout()">Log Out</button>
                    <div class = "pull-right">
                    </div>
                    </div>
                </div>  <!-- end of welcome note -->
                
           
    </div> <!-- end of instructions -->

</div> <!-- end of lc controller -->
