<div class="navbar" ng-controller = "UserController as uc">
  <div class="container" ng-hide = "uc.userService.userObject.userName">
    <ul>
      <li><a href="#/user">HOME</a></li>
      <li><a href="#/calendar">CALENDAR</a></li>
      <li><a href="#/info">TBD</a></li>
      <li><a href="#/organizations">ORGANIZATIONS</a></li>
     
    </ul>
  </div>

  <div class="container" ng-show = "uc.userService.userObject.userName">
      <ul>
        <li><a href="#/user">My home</a></li>
        <li><a href="#/calendar">Calendar</a></li>
        <li><a href="#/info">Info Page</a></li>
        <li><a href="#/organizations">Organizations</a></li>
        <li><a href="#/createorg">Create new organization</a></li>
      </ul>
    </div>

</div>
