<header ng-include="'/views/partials/header.html'"></header>


<div ng-controller="KitchenSinkCtrl as vm">
    <div ng-include="'views/partials/nav.html'"></div>
    




<div class = "container">
    
        <div class="col-md-3" id = "mainCalViewChoices">
                <h2> FILTERS</h2>
            <input type = "checkbox" ng-model="vm.checklist.gay" ng-change="vm.criteriaChanged(vm.checklist)">                
            <label>Gay</label>
            <br>
            <input type = "checkbox" ng-model="vm.checklist.lesbian" ng-change="vm.criteriaChanged(vm.checklist)">
            <label>Lesbian</label>
            
            <br>
            <input type = "checkbox"ng-model="vm.checklist.bi" ng-change="vm.criteriaChanged(vm.checklist)">
            <label>Bi</label>
            
            <br>
            <input type = "checkbox" ng-model="vm.checklist.trans" ng-change="vm.criteriaChanged(vm.checklist)">
            <label>Trans</label>
            <br>
            <input type = "checkbox" ng-model="vm.checklist.entertainment" ng-change="vm.criteriaChanged(vm.checklist)">
            <label>Entertainment</label>
            
            <br>
            <input type = "checkbox"ng-model="vm.checklist.literary" ng-change="vm.criteriaChanged(vm.checklist)">
            <label>Literary</label>
            
            <br>
            <input type = "checkbox" ng-model="vm.checklist.activism" ng-change="vm.criteriaChanged(vm.checklist)">
            <label>Activism</label>
            
            <br>
            <input type = "checkbox" ng-model="vm.checklist.healthcare" ng-change="vm.criteriaChanged(vm.checklist)">
            <label>Healthcare</label>
            
            <br>
            <input type = "checkbox" ng-model="vm.checklist.mental_health" ng-change="vm.criteriaChanged(vm.checklist)">
            <label>Mental Health</label>
            
            <br>
            <input type = "checkbox" ng-model="vm.checklist.youth" ng-change="vm.criteriaChanged(vm.checklist)">
            <label>Youth</label>
           
            <br>
            <input type = "checkbox" ng-model="vm.checklist.political" ng-change="vm.criteriaChanged(vm.checklist)">
            <label>Political</label>
            
            <br>
            <input type = "checkbox" ng-model="vm.checklist.legal" ng-change="vm.criteriaChanged(vm.checklist)">
            <label>Legal</label>
            
            <br>
            <input type = "checkbox"ng-model="vm.checklist.support_group" ng-change="vm.criteriaChanged(vm.checklist)">
            <label>Support Group</label>
            
            <br>
            <input type = "checkbox" ng-model="vm.checklist.other" ng-change="vm.criteriaChanged(vm.checklist)">
            <label>other</label>
           
            <br><br>
            <label>Or search:</label> <input class="form-control" type="text" ng-model="eventSearch" ng-change="vm.criteriaChanged(eventSearch)" placeholder="Search Events">



        </div>
        <div class="col-md-8">
          <!-- <div class = "pull-right"> -->

        <h2 class="text-center">{{ vm.calendarTitle }}</h2>
      
        <div class="row">

          <div class="col-md-6 text-center">
            <div class="btn-group">
      
              <button
                class="btn btn-primary"
                mwl-date-modifier
                date="vm.viewDate"
                decrement="vm.calendarView"
                ng-click="vm.cellIsOpen = false">
                Previous
              </button>
              <button
                class="btn btn-default"
                mwl-date-modifier
                date="vm.viewDate"
                set-to-today
                ng-click="vm.cellIsOpen = false">
                Today
              </button>
              <button
                class="btn btn-primary"
                mwl-date-modifier
                date="vm.viewDate"
                increment="vm.calendarView"
                ng-click="vm.cellIsOpen = false">
                Next
              </button>
            </div>
          </div>
      
          <br class="visible-xs visible-sm">
      
          <div class="col-md-6 text-center">
            <div class="btn-group">
              <label class="btn btn-primary" ng-model="vm.calendarView" uib-btn-radio="'year'" ng-click="vm.cellIsOpen = false">Year</label>
              <label class="btn btn-primary" ng-model="vm.calendarView" uib-btn-radio="'month'" ng-click="vm.cellIsOpen = false">Month</label>
              <label class="btn btn-primary" ng-model="vm.calendarView" uib-btn-radio="'week'" ng-click="vm.cellIsOpen = false">Week</label>
              <label class="btn btn-primary" ng-model="vm.calendarView" uib-btn-radio="'day'" ng-click="vm.cellIsOpen = false">Day</label>
            </div>
          </div>
      
        </div>
      
        <br>
      
        <mwl-calendar
          events="vm.EventService.filteredEvents"
          view="vm.calendarView"
          view-title="vm.calendarTitle"
          view-date="vm.viewDate"
          on-event-click="vm.newEventClicked(calendarEvent)"
          on-event-times-changed="vm.eventTimesChanged(calendarEvent); calendarEvent.startsAt = calendarNewEventStart; calendarEvent.endsAt = calendarNewEventEnd"
          cell-is-open="vm.cellIsOpen"
          day-view-start="06:00"
          day-view-end="22:59"
          day-view-split="30"
          cell-modifier="vm.modifyCell(calendarCell)"
          cell-auto-open-disabled="true"
          on-timespan-click="vm.timespanClicked(calendarDate, calendarCell)">
        </mwl-calendar>
      
        <br><br><br>
      
      </div>
    </div>
</div>
</div>