<header ng-include="'/views/partials/header.html'"></header>
<div ng-include="'views/partials/nav.html'"></div>

<br><br>

<div class="container">
    <form>

        <div class="form-group row">
            <label for="orgInputName" class="col-sm-2 col-form-label">Organization name</label>
            <div class="col-sm-10">
                <input type="text" ng-model="vm.newOrg.org_name" class="form-control" id="orgInputName" placeholder="">
            </div>
        </div>

        <div class="form-group row">
            <label for="orgInputWebsite" class="col-sm-2 col-form-label">Website</label>
            <div class="col-sm-10">
                <input type="website" ng-model="vm.newOrg.website" class="form-control" id="orgInputWebsite" placeholder="example: www.yourorganization.com">
            </div>
        </div>

        <div class="form-group row">
            <label for="orgInputAddress" class="col-sm-2 col-form-label">Address:</label>
            <div class="col-sm-10">
                <input type="text" ng-model="vm.newOrg.address"class="form-control"  id="orgInputAddress" placeholder="Address">
            </div>
        </div>

        <div class="form-group row">
                <label for="orgInputEmail" class="col-sm-2 col-form-label">Email</label>
                <div class="col-sm-10">
                    <input type="email" ng-model="vm.newOrg.email" class="form-control" id="orgInputEmail" placeholder="example: info@yourorganization.com">
                </div>
            </div>

        <div class="form-group row">
            <label for="orgInputPhone" class="col-sm-2 col-form-label">Phone</label>
            <div class="col-sm-10">
                <input type="tel" ng-model="vm.newOrg.phone" class="form-control" id="orgInputPhone" placeholder="(XXX) XXX-XXXX">
            </div>
        </div>

        <div class="form-group row">
            <label for="orgInputAbout" class="col-sm-2 col-form-label">About</label>
            <div class="col-sm-10">
                <textarea class="form-control" ng-model="vm.newOrg.about" id="orgInputAbout" placeholder="Please tell us about your organization!"></textarea>
            </div>
        </div>

        
        <div class="form-group row">
            <label for="uploadLogo" class="col-sm-2 col-form-label">Upload logo</label>
                <div class="col-sm-10">
                 <button class="btn btn-primary" ng-click = "vm.uploadOrgLogo(vm.newOrg.org_logo)" ng-model="vm.newOrg.org_logo" 
                 id="orgInputImgUrl">Click to upload<img id="createOrgUpload" src = "{{vm.newOrg.org_logo}}"></button>
                </div>
            </div>

            
          

        <div class="form-group row">
            <div class="col-sm-2">
                <b>Check all that apply:</b>
            </div>
            <div class="col-sm-10">
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" ng-model="vm.newOrg.gay" type="checkbox"> Gay
                    </label>
                    <br>
                    <label class="form-check-label">
                        <input class="form-check-input" ng-model="vm.newOrg.lesbian" type="checkbox"> Lesbian
                    </label>
                    <br>
                    <label class="form-check-label">
                        <input class="form-check-input" ng-model="vm.newOrg.bi" type="checkbox"> Bi
                    </label>
                    <br>
                    <label class="form-check-label">
                        <input class="form-check-input" ng-model="vm.newOrg.trans" type="checkbox"> Trans
                    </label>
                    <br>
                    <label class="form-check-label">
                        <input class="form-check-input" ng-model="vm.newOrg.entertainment" type="checkbox"> Entertainment
                    </label>
                    <br>
                    <label class="form-check-label">
                        <input class="form-check-input" ng-model="vm.newOrg.literary" type="checkbox"> Literary
                    </label>
                    <br>
                    <label class="form-check-label">
                        <input class="form-check-input" ng-model="vm.newOrg.activism" type="checkbox"> Activism
                    </label>
                    <br>
                    <label class="form-check-label">
                        <input class="form-check-input" ng-model="vm.newOrg.healthcare" type="checkbox"> Healthcare
                    </label>
                    <br>
                    <label class="form-check-label">
                        <input class="form-check-input" ng-model="vm.newOrg.mental_health" type="checkbox"> Mental Health
                    </label>
                    <br>
                    <label class="form-check-label">
                        <input class="form-check-input" ng-model="vm.newOrg.youth" type="checkbox"> Youth
                    </label>
                    <br>
                    <label class="form-check-label">
                        <input class="form-check-input" ng-model="vm.newOrg.political" type="checkbox"> Political
                    </label>
                    <br>
                    <label class="form-check-label">
                        <input class="form-check-input" ng-model="vm.newOrg.legal" type="checkbox"> Legal
                    </label>
                    <br>
                    <label class="form-check-label">
                        <input class="form-check-input" ng-model="vm.newOrg.support_group" type="checkbox"> Support Group
                    </label>
                    <br>
                    <label class="form-check-label">
                        <input class="form-check-input" ng-model="vm.newOrg.other" type="checkbox"> Other
                    </label>
                    <br>

                </div>
            </div>
        </div>


        <br>
        <br>
        <button ng-click="vm.addOrg(vm.newOrg)" class="btn btn-info">Submit me!</button>
    </form>
</div>
</div>
