<div ng-include="'views/partials/nav.html'"></div>

<!-- {{oc.OrganizationService.organizations}} -->
<!-- {{oc}} -->
<div class = "container">
        <div class="row">
                <div class="col-md-4">


<!-- <table class="table" id="organizationsTable">
        
        <tbody>
        <tr ng-repeat="orgs in oc.OrganizationService.organizations">
             <td><strong><a href="#/organizations/{{orgs.id}}"> {{orgs.org_name}}</a></strong>
                <br>{{orgs.about | limitTo: 100}}</td>
            
         </tr>
                      
        </tbody>
</table> -->
                      



<ul ng-repeat="orgs in oc.OrganizationService.organizations">
        <li><strong><a href="#/organizations/{{orgs.id}}"> {{orgs.org_name}}</a></strong>
            <!-- {{orgs.about | limitTo: 100}} -->
        </li>
      </ul>


    </div>
  </div>
</div>


