<div ng-include="'views/partials/nav.html'"></div>

<!-- {{oc.OrganizationService.organizations}} -->
<!-- {{oc}} -->
<div class = "container">
<ul ng-repeat="orgs in oc.OrganizationService.organizations">
        <li><strong><a href="#/organizations/{{orgs.id}}"> {{orgs.org_name}}</a></strong>
        </li>
      </ul>
    </div>






<!-- CODE TO CREATE ORG BELOW -->
<div ng-controller="KitchenSinkCtrl as vm">
    <div class="container">
        <div class="row">
            <div class="col-md-4">column 1</div>




            <div class="col-md-4">
                





                <h3>Add an event:</h3>
                <input type="text" ng-model="vm.newEvent.title" placeholder="Event title">               
                <br>
                start:<input type="datetime-local" ng-model="vm.newEvent.datetime">
                <br>
                end: <input type="datetime-local" ng-model="vm.newEvent.enddatetime">                
                <input type="text" ng-model="vm.newEvent.description" placeholder="description">  
                <input class="form-control" colorpicker type="text" ng-model="vm.newEvent.color">             
                
                
                <button ng-click="vm.addEvent(vm.newEvent)">Save</button>
               
            </div>
            


    <div class="col-md-4">column 3</div>
</div>
</div>
</div>
