<div ng-include="'views/partials/nav.html'"></div>
<!-- {{oc}} -->

<div class="container">
  <div class="row">
    <div class="col-md-7">
      <table class="table" id="orgDetailsTable">
        <thead>
          <tr>
            <th>
              <h2>{{oc.OrganizationService.orgDetails[0].org_name}}</h2>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{oc.OrganizationService.orgDetails[0].website}}
              <br>
              <br> {{oc.OrganizationService.orgDetails[0].phone}}
              <br>
              <br> {{oc.OrganizationService.orgDetails[0].about}}
            </td>

          </tr>

        </tbody>
      </table>
    </div>



    <div class="col-md-5">

      <table class="table" id="myEventsTable" ng-controller = "KitchenSinkCtrl as vm" >
        <thead>
          <tr>
            <th>Organization Events</th>
            <th></th>
          </tr>
        </thead>

        
        <tbody>
          <tr ng-repeat="event in oc.EventService.orgEvents.list" >

            <td ng-model="event"> <a href="" ng-click="vm.newEventClicked(event)"><strong>{{event.title}}</strong></a><br><i>{{event.datetime | date:'MMM d, y h:mm a':'-0600'}}</i><br>{{event.description | limitTo: 100}}</td>
              <td ng-controller = "UserController as uc" ng-show = "uc.userService.userObject.userName"><button class="btn btn-success" ng-click ="uc.saveEventToProfile(event)"> Save to My Events </button></td>
            </td>
          </tr>
        </tbody>
      </table>

    
