<header ng-include="'/views/partials/header.html'"></header>

<div class = "container">
    <div class = "row">
            <div class = "col-md-1"></div>
        <div class = "col-md-3">
<h3>Technologies:</h3>

    <h4>- SQL</h4>
    <h4>- Express.js</h4>
    <h4>- AngularJS</h4>
    <h4>- Node.js</h4>
    <h4>- Bootstrap Angular Calendar</h4>
    <h4>- Bootstrap</h4>    
    <h4>- Filestack API</h4>
    <h4>- SweetAlert</h4>
</div>
<div class = "col-md-3">
<h3>Stretch goals:</h3>
    <strong><p>- Format better for mobile</p></strong>
    <strong><p>- Incorporate Google Maps API for event location and directions.</p></strong>
</div>
</div>
</div>