<div ng-include="'views/partials/nav.html'"></div>
<div ng-controller = "UserController as uc">
<div class="container">

    <h1 id="welcome" class="lead">Welcome, {{uc.userObject.userName}}!</h1>
    <button class="btn btn-default" ng-click="uc.userService.logout()">Log Out</button>
</div>

<div class="container">
        <div class="row">
            <div class="col-md-3">column 1
                    <!-- oc.OrganizationService.organizations" -->
                   Bio: {{uc.userObject.bio}}
                    
            </div>






            <div class="col-md-3">column 2
    </div>




    <div class="col-md-3">column 3

    </div>

</div>
</div>
</div>