<div ng-include="'views/partials/nav.html'"></div>
<div ng-controller = "UserController as uc">
<div class="container"><div class = "pull-right">

    <!-- <h1 id="welcome" class="lead">Welcome, {{uc.userObject.userName}}!</h1>
    <button class="btn btn-default" ng-click="uc.userService.logout()">Log Out</button> -->
</div></div> 

<div class="container">
        <div class="row">
            <div class="col-md-4">
                    <div class = "container" >
                            profile pic goes here
                    </div>
                   <h3>About me:</h3> 
                   {{uc.userObject.bio}}
                    
            </div>






<div class="col-md-4" ng-controller ="KitchenSinkCtrl as vm">


        <table class="table" id="myEventsTable">
                <thead>
                        <tr>
                           <th>My Events</th>
                        </tr>
                </thead>

                <tbody>
                <tr ng-repeat="myEvents in uc.userService.userEvents">
                    <td> <a href="" ng-click="vm.newEventClicked(myEvents)">{{myEvents.title}}</a>
                    <button ng-click = "vm.deleteEventFromProfile(myEvents)" class = "pull-right"> Remove </button></td>
                  </tr> 
                 </tbody>
        </table>

</div> 


<div class="col-md-4">


        <table class="table" id="myEventsTable">
                        <thead>
                                <tr>
                                   <th>My Organizations</th>
                                </tr>
                        </thead>
        
                        <tbody>
                        <tr ng-repeat="userOrg in uc.userService.userOrgs">
                            <td> <a href="#/organizations/{{userOrg.org_id}}">{{userOrg.org_name}}</a>
                            <button ng-click = "vm.saveEventToProfile(event)" class = "pull-right"> Remove </button></td>
                          </tr> 
                         </tbody>
                </table>
        

            <!-- <ul ng-repeat="userOrg in uc.userService.userOrgs">

                    <li><a href="#/organizations/{{userOrg.org_id}}">{{userOrg.org_name}}</a></li>
                    
                  </ul>
        </div> -->
        
       
</div>
<br><br><br>
</div>


</div>