<div ng-include="'views/partials/nav.html'"></div>
<div ng-controller = "UserController as uc">
<div class="container"><div class = "pull-right">

    <h1 id="welcome" class="lead">Welcome, {{uc.userObject.userName}}!</h1>
    <button class="btn btn-default" ng-click="uc.userService.logout()">Log Out</button>
</div></div> 

<div class="container">
        <div class="row">
            <div class="col-md-3">
                   <h3>About me:</h3> {{uc.userObject.bio}}
                    
            </div>






            <div class="col-md-3"><h3>My Events</h3></div>




    <div class="col-md-3"><h3>My Organizations</h3>
            <!-- {{uc.OrganizationService.userOrgs}} -->
            <ul ng-repeat="userOrg in uc.OrganizationService.userOrgs">
                    <li>{{userOrg.org_name}}</li>
                  </ul>
        </div>
           
</div>
</div>
</div>